:root {
  --text: #d8dadc;
  --background: #181a1a;
  --border: #a8aaaa;
  --input-background: #282a3a;
  --button-background-hover: #282a3a;
}

.App {
  text-align: center;
  background-color: var(--background);
  color: var(--text);
  min-height: 100vh;
}

.App-logo {
  height: 2rem;
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: center;
}

.App input {
  margin: 0 0.25em 0 1em;
  font-size: 1rem;
  color: var(--text);
  background: var(--input-background);
}

.App button {
  color: var(--text);
  background: transparent;
  border: 1px solid var(--border);
  padding: 8px;
  border-radius: 4px;
}
.App button:hover {
  background: var(--button-background-hover);
}

.App main {
  display: grid;
  padding: 24px;
  gap: 24px;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 800px) {
  .App main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .App main {
    grid-template-columns: repeat(3, 1fr);
  }
}

.App main > article {
  border: 1px solid var(--border);
  padding: 24px;
}

.App article:not(:has(article)) {
  text-align: left;
}
.App article:not(:has(article)) div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App article h1:not(:first-child) {
  text-align: right;
}
